extends templates/layout

block main
  main
     h2 Our Services
      .sections-grid
        section.section.section1
          h3
            a(href="#") Hospitals
        section.section.section2
          h3
            a(href="#") Hotels
        section.section.section3
          h3
            a(href="#") House Cleaning
        section.section.section4
          h3
            a(href="#") End of Tenancy
        section.section.section5
          h3
            a(href="#") Oven Cleaning
        section.section.section6
          h3
            a(href="#") Covid Disinfection
