include ../data/data
include ../mixins/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{siteName}
  body

    block pageTitle
      h1 #{siteName}

    block pagination
      include ../includes/pagination

    block main
      h2 Generic content

    block pagination
      include ../includes/pagination

    block footer
      include ../includes/footer