<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lovely Cars of Yesteryear</title>
  </head>
  <body>
    <h1>Lovely Cars of Yesteryear</h1>
    <nav class="navbar">
      <ul>
        <li class="navbar__li"><a href="#">1</a></li>
        <li class="navbar__li"><a href="#">2</a></li>
        <li class="navbar__li"><a href="#">3</a></li>
        <li class="navbar__li"><a href="#">4</a></li>
        <li class="navbar__li"><a href="#">5</a></li>
        <li class="navbar__li"><a href="#">&gt;&gt;</a></li>
      </ul>
    </nav>
    <h2>Generic content</h2>
    <nav class="navbar">
      <ul>
        <li class="navbar__li"><a href="#">1</a></li>
        <li class="navbar__li"><a href="#">2</a></li>
        <li class="navbar__li"><a href="#">3</a></li>
        <li class="navbar__li"><a href="#">4</a></li>
        <li class="navbar__li"><a href="#">5</a></li>
        <li class="navbar__li"><a href="#">&gt;&gt;</a></li>
      </ul>
    </nav>
    <footer>
      <hr/>
      <p>&copy; Lovely Cars of Yesteryear  </p>
    </footer>
  </body>
</html>