doctype html
html
  head
    title My First Pug Page!
  body
    h1. 
      My 
      First 
      Pug Page!
    main
      h2 This is the very best part of my page
      .my-div
      #my-div
      .my-div.red.big#ugly
      a(href="https://www.google.com") Google
      link(rel='stylesheet' href='css/style.css')
      div(data-temp='28' id='temp')
      div#temp(data-temp='28')
