doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    title Acme Cleaning Services Ltd
  body
    .logo
      img(src="images/logo3.png")
    .topnav
      ul.topnav-right
        li
          a(href="news.html") News
        li
          a(href="our-team.html") Our Team
        li
          a(href="contact.html") Contact
        li
          a(href="about-us.html") About Us
    main
      h2 Our Services
      .sections-grid
        section.section.section1
          h3
            a(href="#") Hospitals
        section.section.section2
          h3
            a(href="#") Hotels
        section.section.section3
          h3
            a(href="#") House Cleaning
        section.section.section4
          h3
            a(href="#") End of Tenancy
        section.section.section5
          h3
            a(href="#") Oven Cleaning
        section.section.section6
          h3
            a(href="#") Covid Disinfection
    footer
      p &copy; 2020 Acme Cleaning Services Ltd


