nav.navbar
  ul
    li.navbar__li
      a(href="#") 1
    li.navbar__li
      a(href="#") 2
    li.navbar__li
      a(href="#") 3
    li.navbar__li
      a(href="#") 4
    li.navbar__li
      a(href="#") 5
    li.navbar__li
      a(href="#") &gt;&gt;