- const siteName = "Lovely Cars of Yesteryear"

- 
  const 
    pages = ["1", "2", "3", "4", "5", ">>"]

- 
  const carsList = [
    {
      "name": "Austin Healey",
      "image": "001",
      "price": "$25,000"
      }, 
    {
      "name": "Volvo P1800",
      "image": "002",
      "price": "$32,500"
      },
    {
      "name": "Large and Smelly",
      "image": "003",
      "price": "$500"
    }, 
    {
      "name": "Rolls Royce Phantom III",
      "image": "004",
      "price": "£50,000"
    }, 
            {
      "name": "UAZ Bukhanka ",
      "image": "005",
      "price": "£2,000"
    }, 
    {
      "name": "Old Red Car",
      "image": "006",
      "price": "£3,000"
    }, 
    {
      "name": "Aston Martin",
      "image": "007",
      "price": "$6,385,000"
    }, 
    {
      "name": "Moggie",
      "image": "008",
      "price": "£10,000"
      }, 
    {
      "name": "Green Landy",
      "image": "009",
      "price":"£8,000"
    }, 
    {
      "name": "White Landy",
      "image": "010",
      "price": "£7,650"
      }
  ]
