.logo
  img(src="images/logo3.png")
.topnav
  ul.topnav-right
    li
      a(href="news.html") News
    li
      a(href="our-team.html") Our Team
    li
      a(href="contact.html") Contact
    li
      a(href="about-us.html") About Us